<ion-view hide-back-button="true">
    <ion-content>
        <div style="color: #000;text-align: center;padding-top: 80px;">
            <h2 style="color: #000;">Thanks!</h2>
            <p>感谢下单!我们将第一时间给您发货。</p>
            <a href="javascript:;" ng-click="back()"
               style="text-decoration: none;
               color: #007f00;border: 1px solid #007f00;
               display: inline-block;
               width:150px;
               height: 50px;
               margin-top:50px;
               line-height: 50px;
               border-radius: 6px;">返回</a>
        </div>
    </ion-content>
</ion-view>