<ion-view view-title="最酷购">
<!--    <ion-nav-buttons side="right">
        <button class="button button-icon ion-home" ui-sref="home"></button>
    </ion-nav-buttons>-->

    <ion-content>
        <ion-list>
            <ion-item class="item-divider item-dark" style="font:bold 14px/20px '微软雅黑'; padding:3px 16px">最主机</ion-item>
                <!--<img ng-src="{{product.imgsrc}}"/>
                <h2>{{product.title}}</h2>
                <p>{{product.desc}}</p>
                &lt;!&ndash;<a href="#/tabs/detail">详情</a>&ndash;&gt;
                <a href="#/tabs/detail?title={{product.title}}">详情</a>-->
            <div class="row">
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=01">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    玩家国度
                                </h2>
                                <p style="font-size: 12px;">ROG<br/>主宰战场！</p>
                            </div>
                            <img src="images/pro3.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=02">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    外星人
                                </h2>
                                <p style="font-size: 12px;">Alienware<br/>张扬至酷！</p>
                            </div>
                            <img src="images/pro5.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
            </div>
            <ion-item class="item-divider item-assertive" style="font:bold 14px/20px '微软雅黑'; padding:3px 16px">最显卡</ion-item>
            <div class="row">
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=03">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    技嘉
                                </h2>
                                <p style="font-size: 12px;">GIGABYTE<br/>G1 GAMING</p>
                            </div>
                            <img src="images/pro1.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=04">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    索泰
                                </h2>
                                <p style="font-size: 12px;">ZOTAC<br/>至尊PLUS</p>
                            </div>
                            <img src="images/pro9.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=05">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    微星
                                </h2>
                                <p style="font-size: 12px;">MSI<br/>红龙信仰</p>
                            </div>
                            <img src="images/pro10.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=06">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    华硕
                                </h2>
                                <p style="font-size: 12px;">ASUS<br/>ROG-STRIX</p>
                            </div>
                            <img src="images/pro11.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
            </div>
            <ion-item class="item-divider item-balanced" style="font:bold 14px/20px '微软雅黑'; padding:3px 16px">最酷屏</ion-item>
            <div class="row">
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=07">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    艺卓
                                </h2>
                                <p style="font-size: 12px;">EIZO<br/>CG318-4K</p>
                            </div>
                            <img src="images/pro12.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=08">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    戴尔
                                </h2>
                                <p style="font-size: 12px;">DELL<br/>UP2715K</p>
                            </div>
                            <img src="images/pro13.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=09">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    华硕
                                </h2>
                                <p style="font-size: 12px;">ASUS<br/>PG27AQ</p>
                            </div>
                            <img src="images/pro14.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=10">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    惠普
                                </h2>
                                <p style="font-size: 12px;">HP<br/>DreamColor<br/>Z27X</p>
                            </div>
                            <img src="images/pro15.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
            </div>
            <ion-item class="item-divider item-royal" style="font:bold 14px/20px '微软雅黑'; padding:3px 16px">最外设</ion-item>
            <div class="row">
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=11">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    安华高
                                </h2>
                                <p style="font-size: 12px;">MAD CATZ<br/>R.A.T.PRO X</p>
                            </div>
                            <img src="images/pro16.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=12">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    雷蛇
                                </h2>
                                <p style="font-size: 12px;">Razer<br/>那伽梵蛇</p>
                            </div>
                            <img src="images/pro17.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=13">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    海盗船
                                </h2>
                                <p style="font-size: 12px;">USCorsair<br/>K95RGB</p>
                            </div>
                            <img src="images/pro18.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=14">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    斐尔可
                                </h2>
                                <p style="font-size: 12px;">FILCO<br/>104圣手二代</p>
                            </div>
                            <img src="images/pro19.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=15">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    赛睿
                                </h2>
                                <p style="font-size: 12px;">SteelSeries<br/>Siberia</p>
                            </div>
                            <img src="images/pro20.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
                <div style="" class="col col-50">
                    <a style="text-decoration:none;" href="#tabs/detail?id=16">
                        <div class="item item-text-wrap" style="height: 120px; background-color: #fff;padding:10px;position: relative">
                            <div style="float: left;padding-top:10%;">
                                <h2 style="font-size: 15px;">
                                    乌龟海岸
                                </h2>
                                <p style="font-size: 12px;">Turtle Beach<br/>Elite 800</p>
                            </div>
                            <img src="images/pro21.jpg" style="position: absolute; height: 80px; top:20%;right: 10px;"/>
                        </div>
                    </a>
                </div>
            </div>
        </ion-list>
        </div>
    </ion-content>
</ion-view>