<ion-view hide-nav-bar="true" id="guide">
    <ion-slide-box does-continue="false" auto-play="false">
        <ion-slide>
            <div ng-style="style" class="box"><img ng-style="style" src="images/double11.jpg"></div>
        </ion-slide>
        <ion-slide>
            <div ng-style="style" class="box"><img ng-style="style" src="images/diannao.jpg"></div>
        </ion-slide>
        <ion-slide>
            <div ng-style="style" class="box"><img ng-style="style" src="images/keji1.jpg"><button class="button button-clear button-large" ui-sref="tabs.home">ENTER>></button></div>
        </ion-slide>
    </ion-slide-box>
</ion-view>